<% layout("/layouts/boilerplate") %>

<div
	class="container d-flex flex-column align-items-center justify-content-center vh-100"
>
	<div class="alert alert-danger text-center p-4 shadow-lg">
		<h4 class="alert-heading">
			<i class="fas fa-triangle-exclamation me-2"></i> Error!
		</h4>
		<p class="mb-3"><%= message %></p>
		<a href="javascript:history.back()" class="btn btn-outline-dark">
			<i class="fas fa-arrow-left"></i> Go Back
		</a>
	</div>
</div>
