.host-overview-dp {
	height: 2.8rem;
	width: 2.8rem;
	object-fit: cover;
}

.host-name,
.head-amnt-info,
.show-f-desc {
	font-size: 1.1rem;
	font-weight: 600;
}

.host-expnc,
.sub-amnt-info {
	font-size: 0.9rem;
	font-weight: 500;
}

.py-4 {
	padding: 32px 0 !important;
}

.amnt-svg {
	-webkit-box-pack: center;
	flex-shrink: 0;
	width: 40px;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

.s-desc {
	font-size: 1.1rem;
	font-weight: 460;
}

.s-desc p {
	font-size: 1rem;
	font-weight: 450;
}

.s-desc-close-btn {
	opacity: 1;
	background: transparent var(--bs-btn-close-bg) center / 0.7rem auto no-repeat;
}

.show-desc p {
	/* width: 400px; */
	display: -webkit-box;
	line-clamp: 6;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.s-title {
	font-weight: 550;
}

.s-category,
.amnt-btn,
.review-btn {
	font-weight: 550;
}

ul.amnts-list > li {
	padding: 24px 0;
}
