<div
	class="modal fade"
	id="whereModal"
	tabindex="-1"
	aria-hidden="true"
	data-bs-toggle="modal"
	data-bs-keyboard="true"
	aria-labelledby="Search Where Modal"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Select a Destination</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<ul class="list-group gap-1">
					<!-- Unique city/state list -->
					<% uniqueLocations.forEach(loc => { %>
					<li
						class="list-group-item list-group-item-action location-option p-3 rounded-2 "
						data-city="<%= loc.city %>"
						data-state="<%= loc.state %>"
					>
						<span class="s-title fs-6"><%= loc.city %></span> <% if (loc.state) { %>
						<small class="text-muted">(<%= loc.state %>)</small>
						<% } %>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>
