<!-- Where Modal -->
<div
	class="modal fade"
	id="whereModal"
	tabindex="-1"
	aria-labelledby="whereModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="whereModalLabel">Select a Destination</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<% uniqueLocations.forEach(loc => { %>
					<li
						class="list-group-item location-option"
						data-city="<%= loc.city %>"
						data-state="<%= loc.state %>"
					>
						<b><%= loc.city %></b>, <%= loc.state %>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>
