<!-- Price Modal -->
<div
	class="modal fade"
	id="searchPriceModal"
	tabindex="-1"
	data-bs-keyboard="true"
	aria-labelledby="priceModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title bg-success-subtle p-2 rounded-3">
					Select Price Range (₹)
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form id="priceRangeForm" novalidate class="needs-validation">
				<div class="modal-body">
					<div class="mb-3">
						<label
							for="minPrice"
							class="form-label bg-info-subtle p-2 rounded-3">
							Min Price
						</label>
						<input
							type="number"
							class="form-control"
							id="minPrice"
							name="minPrice"
							value="<%= selectedMinPrice %>"
							min="0"
							step="100"
							placeholder="e.g., 0"
							required />
						<div class="invalid-feedback">
							Please enter a valid minimum price.
						</div>
					</div>
					<div class="mb-3">
						<label
							for="maxPrice"
							class="form-label bg-info-subtle p-2 rounded-3">
							Max Price
						</label>
						<input
							type="number"
							class="form-control"
							id="maxPrice"
							name="maxPrice"
							value="<%= selectedMaxPrice %>"
							min="0"
							step="100"
							placeholder="e.g., 1000"
							required />
						<div class="invalid-feedback">
							Please enter a valid maximum price.
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" id="clearPriceFilter">
						Clear
					</button>
					<button type="submit" class="btn btn-success">Apply</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="../js/bootstrap.js"></script>
