<div class="modal fade" id="whereModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Select a Destination</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<!-- Unique city/state list -->
					<% uniqueLocations.forEach(loc => { %>
					<li
						class="list-group-item list-group-item-action location-option p-4"
						data-city="<%= loc.city %>"
						data-state="<%= loc.state %>"
					>
						<span class="s-title"><%= loc.city %></span> <% if (loc.state) { %>
						<small class="text-muted">(<%= loc.state %>)</small>
						<% } %>
					</li>
					<% }) %>
				</ul>
			</div>
		</div>
	</div>
</div>
