<!-- Button trigger modal -->
<button
	type="button"
	class="btn btn-dark btn-sm mb-1"
	data-bs-toggle="modal"
	data-bs-target="#imagePreviewModal"
>
	Show Old Image
</button>

<!-- Modal -->
<div class="toggle-show">
	<div
		class="modal fade"
		id="imagePreviewModal"
		tabindex="-1"
		aria-labelledby="imagePreviewModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title fs-5" id="imagePreviewModalLabel">
						<%= hostel.title %>
					</h3>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<!-- Image Upload -->
					<div class="mb-3">
						<label class="form-label">Current Images:</label>
						<div class="d-flex flex-wrap gap-2">
							<% hostel.images.forEach((img, index) => { %>
							<div class="position-relative">
								<img src="<%= img.url %>" class="img w-75" />
								<input
									type="checkbox"
									name="deleteImages[]"
									value="<%= img.filename %>"
								/>
								Remove
							</div>
							<% }); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
