<!-- Modal -->
<div
	class="modal fade"
	id="show-amenities-modal"
	data-bs-keyboard="true"
	tabindex="-1"
	aria-labelledby="Amenities Modal"
	data-bs-toggle="modal"
	aria-hidden="true"
>
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
	>
		<div class="modal-content rounded-4 bg-light">
			<div class="modal-header border-0 d-block">
				<button
					type="button"
					class="btn-close s-desc-close-btn pt-3 m-0"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body s-desc px-4 pt-0">
				<h4 class="modal-title mb-3 fw-bold" id="staticBackdropLabel">
					What this place offers
				</h4>
				<section class="all-amenities">
					<ul class="amnts-list row list-unstyled mx-1">
						<% for (const category in amenities) { %>
						<!--.-->
						<% const categoryAmenities = hostel.amenities.filter(a =>
						amenities[category].some(am => am.name === a)); %>
						<!--.-->
						<h5 class="s-category py-1 px-0 mt-4"><%= category %></h5>
						<% if (categoryAmenities.length > 0) { %>
						<!--.-->
						<% categoryAmenities.forEach(amenity => { %>

						<li class="d-flex align-items-center border-bottom">
							<div class="me-4">
								<%- amenities[category].find(am => am.name === amenity).icon %>
							</div>
							<div class="s-desc"><%= amenity %></div>
						</li>

						<% }); %>
						<!-- categoryAmenities.forEach -->
						<% } %>
						<!-- if (categoryAmenities.length > 0) -->
						<% } %>
						<!-- for -->
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>
