<!-- Modal -->
<div
	class="modal fade"
	id="description-modal"
	data-bs-keyboard="true"
	tabindex="-1"
	aria-labelledby="Description Modal"
	aria-hidden="true">
	<div
		class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
		<div class="modal-content rounded-4 bg-light">
			<div class="modal-header border-0 d-block">
				<button
					type="button"
					class="btn-close s-desc-close-btn pt-3 m-0"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body s-desc px-4">
				<h3 class="modal-title mb-3 fw-bold" id="staticBackdropLabel">
					About this space
				</h3>
				<p class="lead"><%= hostel.description %></p>
			</div>
		</div>
	</div>
</div>
