<nav class="navbar navbar-expand-md bg-light p-2 border-bottom sticky-top">
	<div class="container-fluid">
		<!-- Logo -->
		<a class="navbar-brand text-danger me-6" href="/hostels">
			<%- include('./logo.ejs') %> 
		</a>

		<!-- Navbar Toggler for Mobile -->
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse bg-light" id="navbarSupportedContent">
			<!-- Middle Navigation -->
			<!-- <ul class="navbar-nav mx-auto text-center">
				<li class="nav-item ms-5">
					<button
						type="button"
						class="nav-link fw-medium hostels px-3 rounded-pill active"
					>
						Hostels
					</button>
				</li>
				<li class="nav-item">
					<a class="nav-link fw-medium foodpts px-3 rounded-pill" href="#"
						>Food Points</a
					>
				</li>
			</ul> -->

			<!-- Right-side Navigation -->
			<ul class="navbar-nav ms-auto align-items-center">
				<li class="nav-item me-md-2">
					<a
						class="nav-link fw-medium px-3 rounded-pill nav-ends"
						href="/hostels/new"
					>
						Add Your Hostel
					</a>
				</li>

				<!-- User Menu (Dropdown) -->
				<li class="nav-item dropdown">
					<button
						class="nav-link dropdown-toggle rounded-pill border border-secondary-subtle nav-ends d-flex flex-row px-3"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
					<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 -4 32 32" class="ps-1"><path d="m17.354 12.913.297-.001.619.001q.394.001.788-.001h.903c.715-.003 1.397.043 2.041.389l.094.049c.27.145.506.318.733.526l.09.08c.685.644 1.073 1.569 1.104 2.5q.005.358.003.716l.001.313-.001.652q-.001.415.001.83v.951c.002.73-.035 1.426-.389 2.084l-.049.094c-.145.27-.318.506-.525.733l-.084.097c-.574.625-1.457 1.051-2.303 1.088-.276.008-.553.007-.83.007l-.308.001h-.642q-.409-.001-.818.002l-.635.001-.301.001c-1.056.005-1.942-.182-2.752-.915l-.108-.095c-.653-.608-1.086-1.497-1.125-2.389-.008-.282-.007-.563-.007-.845l-.001-.314v-.655l-.002-.834-.001-.647-.001-.307c-.004-.732.032-1.429.387-2.089l.049-.094c.145-.27.318-.506.525-.732l.099-.111c.853-.904 1.962-1.092 3.145-1.086m-1.806 2.621c-.314.396-.422.832-.42 1.329l-.001.118v.384l-.001.269v.563q0 .36-.002.719l-.001.556-.001.265c-.003.69.032 1.249.526 1.777.391.366.803.477 1.329.477l.116.001.377.001.264.001.553.001.705.003.545.001.26.001c.675.004 1.238-.028 1.753-.516.377-.414.495-.899.493-1.448l.001-.114v-.369l.001-.259v-.542q0-.346.002-.691l.001-.535.001-.255c.003-.68-.033-1.311-.518-1.84-.397-.361-.87-.492-1.397-.49l-.114-.001h-.371l-.26-.001h-.544q-.347 0-.693-.002l-.536-.001-.256-.001c-.705-.003-1.309.044-1.813.598M4.113-.02l.311-.001h.65q.414.001.827-.002l.642-.001.305-.001c1.195-.006 2.097.272 2.979 1.114.732.749 1.056 1.756 1.056 2.79v.119l.001.386v.839l.001.722.001.56.001.266c.005 1.228-.206 2.334-1.089 3.259-.721.668-1.581 1.046-2.568 1.045l-.131.001-.424.001-.298.001-.624.001q-.397 0-.794.003l-.616.001-.292.001c-.719.005-1.402-.038-2.05-.386l-.094-.049a3.4 3.4 0 0 1-.735-.524l-.09-.08C.397 9.401.009 8.476-.022 7.545a34 34 0 0 1-.003-.716l-.001-.313.001-.652q.001-.415-.001-.83v-.951c-.002-.731.035-1.427.389-2.085l.049-.094a3.5 3.5 0 0 1 .526-.732l.09-.1C1.882.171 2.924-.022 4.113-.02M2.347 2.592a1.87 1.87 0 0 0-.397 1.224l-.001.127v.411l-.001.288v.602q.001.385-.002.769l-.001.594-.001.283c-.004.718.058 1.226.567 1.767.41.386.922.442 1.464.443h.105l.339.001h.735l.634.001.491.001.234.001c.672.003 1.196-.054 1.773-.422.418-.418.581-.9.583-1.481l.001-.118.002-.385.001-.133.002-.7.004-.718.002-.556.002-.265c.006-.634-.003-1.243-.441-1.75-.577-.566-1.206-.585-1.97-.583l-.258-.001q-.27-.001-.539 0-.344.001-.686-.002l-.533-.001-.253-.001c-.693-.004-1.374.032-1.853.6m1.828 10.325q.238.001.477-.001l.307.001.142-.001c.338.005.606.066.852.309l.065.095.067.095c.162.272.147.653.071.953-.111.252-.301.404-.534.543a.9.9 0 0 1-.332.054l-.116.001-.126.001-.266.003-.417.004c-.986 0-.986 0-1.84.455-.536.548-.534 1.173-.531 1.894v.266l.001.555v1.517c-.002.68.043 1.217.503 1.752.565.486 1.142.505 1.855.504l.258.001h.54q.344-.001.687.002l.533.001.253.001c.619.004 1.226-.018 1.72-.444.454-.478.535-1.083.526-1.717l-.001-.17-.004-.456-.002-.48-.007-1.218q-.005-.659-.007-1.317l-.003-.477-.003-.531-.002-.157c0-.344.036-.652.227-.945.237-.23.463-.347.796-.368.317.012.544.121.774.336.25.347.267.685.26 1.1v.186l-.004.502-.004.529-.008.889q-.006.512-.008 1.022l-.008.989-.003.418c-.009 1.672-.009 1.672-.399 2.397l-.049.094c-.145.27-.318.506-.525.733l-.084.097a3.52 3.52 0 0 1-2.342 1.088c-.265.008-.53.007-.795.007l-.295.001h-.615l-.782.002-.608.001-.288.001c-.714.004-1.394-.042-2.037-.387l-.094-.049a3.8 3.8 0 0 1-.734-.531l-.107-.094c-.654-.608-1.087-1.498-1.125-2.391-.008-.282-.007-.564-.007-.847l-.001-.314v-.655q.001-.417-.002-.835l-.001-.648-.001-.308c-.004-.728.041-1.381.39-2.037l.049-.095c.135-.249.285-.473.477-.683l.107-.118c.875-.922 1.962-1.135 3.181-1.125M16.66-.008l.134-.001.438-.002.152-.001.797-.002.818-.004.633-.002.301-.002c.724-.006 1.371.04 2.022.387l.095.049c.251.135.474.285.684.477l.116.103a3.8 3.8 0 0 1 1.171 2.612q.005.35.003.701l.001.307-.001.639q-.001.406.001.813v.932c.002.723-.037 1.413-.389 2.064l-.049.093a4.7 4.7 0 0 1-.524.783l-.072.088c-.574.633-1.483 1.042-2.33 1.09q-.378.013-.755.011-.201 0-.402.004l-.258.001-.12.002a1.15 1.15 0 0 1-.799-.293l-.063-.079-.066-.079c-.183-.28-.184-.561-.151-.885.084-.318.291-.487.563-.656.144-.072.297-.056.456-.058l.223-.005.351-.006c1.008-.014 1.008-.014 1.867-.502.376-.409.492-.925.49-1.465l.001-.112V6.63l.001-.256v-.535l.002-.681.001-.528.001-.251c.003-.696-.025-1.311-.526-1.844-.389-.366-.801-.477-1.325-.478l-.114-.001-.373-.001-.26-.001-.546-.001q-.349 0-.697-.003l-.538-.001-.257-.001c-.677-.005-1.245.03-1.755.529-.379.439-.451.98-.446 1.542l-.001.172.001.46q.001.242-.001.484v1.227q.002.664-.001 1.328v1.016l.002.159c-.003.354-.054.608-.295.882l-.081.063-.081.066c-.268.182-.515.182-.834.149-.279-.08-.446-.234-.609-.469a1.05 1.05 0 0 1-.106-.498l-.001-.159v-.173l-.001-.184-.001-.498v-.312l-.001-1.092-.002-1.013-.002-.873-.001-.52c-.009-1.589-.009-1.589.389-2.335l.049-.094a3.5 3.5 0 0 1 .474-.686l.09-.117c.599-.723 1.588-1.107 2.507-1.11"/></svg>
						<!-- <svg
							xmlns="http://www.w3.org/2000/svg"
							x="0px"
							y="0px"
							width="22"
							height="22"
							viewBox="0 0 30 30"
							class="me-2 text-secondary"
						>
							<path
								d="M 5 5 L 5 11 L 24 11 L 24 5 L 5 5 z M 7 7 L 22 7 L 22 9 L 7 9 L 7 7 z M 9 13 L 9 19 L 28 19 L 28 13 L 9 13 z M 11 15 L 26 15 L 26 17 L 11 17 L 11 15 z M 5 21 L 5 27 L 24 27 L 24 21 L 5 21 z M 7 23 L 22 23 L 22 25 L 7 25 L 7 23 z"
							></path>
						</svg> -->
						<!-- 	<i class="fa-solid fa-bars fa-sm pe-2"></i> -->
						<!-- <svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 32 32"
							aria-hidden="true"
							role="presentation"
							focusable="false"
							style="
								display: block;
								height: 26px;
								width: 26px;
								fill: currentcolor;
							"
						>
							<path
								d="M16 .7C7.56.7.7 7.56.7 16S7.56 31.3 16 31.3 31.3 24.44 31.3 16 24.44.7 16 .7zm0 28c-4.02 0-7.6-1.88-9.93-4.81a12.43 12.43 0 0 1 6.45-4.4A6.5 6.5 0 0 1 9.5 14a6.5 6.5 0 0 1 13 0 6.51 6.51 0 0 1-3.02 5.5 12.42 12.42 0 0 1 6.45 4.4A12.67 12.67 0 0 1 16 28.7z"
							/> -->
						<svg width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.25a4.75 4.75 0 1 0 0 9.5 4.75 4.75 0 0 0 0-9.5M8.75 7a3.25 3.25 0 1 1 6.5 0 3.25 3.25 0 0 1-6.5 0m-.034 6.25a3.75 3.75 0 0 0-3.232 1.848l-.662 1.125c-.522.888-.746 1.925-.532 2.857.223.973.914 1.765 2.046 2.058 3.161.816 8.167.816 11.328 0 1.132-.293 1.824-1.086 2.047-2.058.214-.932-.01-1.969-.533-2.857l-.661-1.125a3.75 3.75 0 0 0-3.232-1.848zm-1.94 2.61a2.25 2.25 0 0 1 1.94-1.11h6.569a2.25 2.25 0 0 1 1.939 1.11l.662 1.124c.372.632.473 1.279.363 1.76-.101.441-.385.793-.96.941-2.915.753-7.662.753-10.577 0-.576-.148-.86-.5-.96-.94-.111-.482-.01-1.129.363-1.761z" fill="#13193A"/>
						</svg>
						
				
					</button>
					<ul class="dropdown-menu dropdown-menu-end shadow">
						<% if (!currUser) { %>
						<li>
							<a class="dropdown-item fw-medium mb-2" href="/login">Log in</a>
						</li>
						<li><a class="dropdown-item mb-2" href="/signup">Sign up</a></li>
						<% } else { %>
						<li>
							<a class="dropdown-item mb-2 text-danger fw-medium" href="/logout"
								>Log out</a
							>
						</li>
						<% } %>
						<li><hr class="dropdown-divider mb-2" /></li>
						<li>
							<a class="dropdown-item mb-2" href="/hostels/new"
								>Rent Out Your Hostel</a
							>
						</li>
						<li>
							<a class="dropdown-item mb-2" href="/reservations/my-reservations">My Bookings</a>
						</li>
						<% if (typeof currUser !== 'undefined' && currUser) { %>
						<li>
							<a class="dropdown-item mb-2" href="/my-hosted-hostels"
								>My Hosted Spaces</a
							>
						</li>
						<% } %>

						<li><a class="dropdown-item mb-2" href="#">Help Centre</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
