<div
	class="card sticky-md-top bottom-0 z-0 m-2 shadow border border-secondary-subtle rounded-4"
	style="top: 15vh"
>
	<div class="card-body h-auto">
		<h4 class="card-title fw-bold p-2 mb-2">
			&#8377;&nbsp;<%= hostel.price.toLocaleString("en-IN") %> &nbsp;<span
				>month</span
			>
		</h4>
		<button
			class="btn btn-outline-dark dropdown-toggle w-100 p-2"
			type="button"
			data-bs-toggle="dropdown"
			data-bs-close="outside"
			aria-expanded="false"
		>
			<span>Students</span>
			<span>Add students</span>
		</button>
		<ul class="dropdown-menu shadow">
			...
		</ul>

		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of
			the card's content.
		</p>
		<p class="card-text">
			Some quick example text to build on the card title and make up the bulk of
			the card's content.
		</p>
	</div>
</div>
