<!-- Search Bar 1 -->
<div class="bg-light pb-4 d-md-block d-none search-bar border-bottom">
	<div
		class="btn-group col-xl-8 offset-xl-2 col-12 offset-0 border border-secondary-subtle rounded-pill shadow-sm active search-bar-2"
		role="group"
	>
		<button
			type="button"
			class="btn btn-outline-secondary rounded-pill"
			data-bs-toggle="modal"
			data-bs-target="#whereModal"
		>
			<div class="px-3 py-1 search-content d-block">
				<p class="m-0 text-black search-title">Where</p>
				<p class="m-0 text-secondary search-subtitle" id="selected-city">
					<%= selectedCity ? selectedCity : "Search destinations" %>
				</p>
			</div>
		</button>
		<div>
			<span class="border border-1 border-right py-2" id="divider"></span>

			<button
				type="button"
				class="btn btn-outline-secondary rounded-pill h-100"
				data-bs-toggle="modal"
				data-bs-target="#nearbyModal"
			>
				<div class="px-3 py-1 search-content">
					<p class="m-0 text-black search-title">Nearby</p>
					<p
						class="m-0 text-secondary search-subtitle text-truncate"
						id="selected-college"
					>
						<%# selectedCollege ? selectedCollege : "Add college" %> Add college
					</p>
				</div>
			</button>

			<span class="border border-1 border-right py-2" id="divider"></span>
			<button
				type="button"
				class="btn btn-outline-secondary rounded-pill h-100"
			>
				<div class="px-3 py-1 search-content">
					<p class="m-0 text-black search-title">Price</p>
					<p class="m-0 text-secondary search-subtitle">Add range</p>
				</div>
			</button>
			<span class="border border-1 border-right py-2" id="divider"></span>
		</div>

		<button
			type="button"
			class="btn btn-outline-secondary rounded-pill col-2 d-flex justify-content-between flex-row pe-2 py-2"
		>
			<div class="px-3 py-1 search-content">
				<p class="m-0 text-black search-title">For</p>
				<p class="m-0 text-secondary search-subtitle">Add students</p>
			</div>
			<a class="btn btn-danger btn-lg rounded-circle search-icon"
				><i class="fa-solid fa-magnifying-glass"></i>
			</a>
		</button>
	</div>
</div>
<!-- SB 1 End -->
<div class="invisible" style="height: 10vh">Spacing</div>

<script src="../js/components/searchBar.js"></script>
<%- include(".././modalBoxes/searchWhere.ejs") %> <%-
include(".././modalBoxes/searchNearby.ejs") %>
